.App {
  text-align: center;
}
​
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
​
.App-link {
  color: #61dafb;
}

.form {
  padding: 30px 78px 15px 77px;
  text-align: left;
  box-sizing: inherit;
  font-family: "'Roboto', 'Helvetica', 'Arial', sans-serif";
  width: 50;
  
}


#submit{
  color :white;

  position: absolute;

}
.wrapper {
  text-align: center;
}

.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
  display: none;
}
​
​
.input{
 width: 50%;
}
.tab_container_heading {
  float: left;
  color:  #1E7ECF !important
}


.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  top: 0;
  background-color: #1976d2 ;
  color: #FFF;
  font-size: large;
}

.color-nav {
  /* background-image: linear-gradient(to bottom right, #fdbb2d ,#22c1c3); */
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

.d-inline-block{
  border-style : outset;
  display: inline-block !important;
}

.navbar-brand{
  margin-right: 1.75rem;
}
.color {
  color: #1976d2;
}

.MuiSvgIcon-root{
  color:cadetblue !important;
  width: 50px !important;
  height: 52px !important;
}
.table {
  font-size: small;
  flex-direction: row;
 }
 
.container {
 font-size: small;
}

.profile {
  background-color: #ecf0f3;
}
.addIcon {
 justify-content: right;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}






